.items {
  width: 270px;
  height: 370px;
  vertical-align: bottom;
}
.items1 {
  background-image: url(../../assets/IMG/png/rasm1.png);
}
.items2 {
  background-image: url(../../assets/IMG/png/rest.png);
}
