.items {
  width: 270px;
  height: 390px;
  vertical-align: bottom;
  margin-top: 30px;
}
.items1 {
  background-image: url(../../assets/IMG/png/rasm1.png);
  background-repeat: no-repeat, repeat;
}
.items2 {
  background-image: url(../../assets/IMG/png/rest.png);
  background-repeat: no-repeat, repeat;
}
.items4 {
  background-image: url(../../assets/IMG/png/milk.png);
  background-repeat: no-repeat, repeat;
}
.items5 {
  background-image: url(../../assets/IMG/png/paradise.png);
  background-repeat: no-repeat, repeat;
}
.items6 {
  background-image: url(../../assets/IMG/png/sun.png);
  background-repeat: no-repeat, repeat;
}

.items7 {
  background-image: url(../../assets/IMG/png/violit.png);
  background-repeat: no-repeat, repeat;
}
.items8 {
  background-image: url(../../assets/IMG/png/clean.png);
  background-repeat: no-repeat, repeat;
}
.items9 {
  background-image: url(../../assets/IMG/png/cocount.png);
  background-repeat: no-repeat, repeat;
}
.items10 {
  background-image: url(../../assets/IMG/png/lavender.png);
  background-repeat: no-repeat, repeat;
}
.items11 {
  background-image: url(../../assets/IMG/png/lotos.png);
  background-repeat: no-repeat, repeat;
}
.items12 {
  background-image: url(../../assets/IMG/png/earth.png);
  background-repeat: no-repeat, repeat;
}
