.items {
  width: 270px;
  height: 370px;
  vertical-align: bottom;
  margin-top: 30px;
}
.items1 {
  background-image: url(../../assets/IMG/png/rasm1.png);
}
.items2 {
  background-image: url(../../assets/IMG/png/rest.png);
}
.items4 {
  background-image: url(../../assets/IMG/png/milk.png);
}
.items5 {
  background-image: url(../../assets/IMG/png/paradise.png);
}
.items6 {
  background-image: url(../../assets/IMG/png/sun.png);
}

.items7 {
  background-image: url(../../assets/IMG/png/violit.png);
}
.items8 {
  background-image: url(../../assets/IMG/png/clean.png);
}
